<!DOCTYPE html>
<html>
<head>
    <title>The Outpost</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    {% load static %}
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-teal w3-wide w3-padding w3-card">
        <a href="/cybersecurity" class="w3-bar-item w3-button"><i class="fa fa-home w3-teal"></i> <b>Part-3</b> Operating Systems and Server Administration</a>
   
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
        
            <!-- <a href="#contact" class="w3-bar-item w3-button">Contact</a> -->
        </div>
    </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

 <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"><b>About</b></h3>
        <p>
            <b>Operating Systems and Server Administration:</b>
        </p>
        <p>Operating systems (OS) and server administration are essential components of modern computing environments, providing the foundation for managing hardware resources, running software applications, and facilitating communication between devices. This lesson explores the key concepts and principles of operating systems and server administration, covering topics such as OS fundamentals, server deployment and management, virtualization, and cloud computing.</p>
        
        <ol>
            <li><b>Introduction to Operating Systems</b></li>
            <p>An operating system is a software program that acts as an intermediary between users, applications, and hardware resources. It provides a platform for running software applications and managing hardware resources such as memory, CPU, storage, and peripherals. Key functions of operating systems include process management, memory management, file system management, device management, and user interface.</p>
            
            <li><b>Types of Operating Systems</b></li>
            <p>Operating systems can be categorized into different types based on their architecture, intended use, and licensing model:</p>
            <ul>
                <li>Desktop Operating Systems: Designed for personal computers and workstations, examples include Windows, macOS, and Linux distributions.</li>
                <li>Server Operating Systems: Optimized for server hardware and data center environments, examples include Windows Server, Linux Server (e.g., CentOS, Ubuntu Server), and UNIX-based systems (e.g., FreeBSD).</li>
                <li>Mobile Operating Systems: Designed for smartphones, tablets, and other mobile devices, examples include Android, iOS, and Windows Mobile.</li>
                <li>Embedded Operating Systems: Used in embedded systems and IoT devices, examples include Embedded Linux, FreeRTOS, and Windows Embedded.</li>
            </ul>
            
            <li><b>Server Deployment and Management</b></li>
            <p>Server administration involves the deployment, configuration, maintenance, and monitoring of server hardware and software:</p>
            <ul>
                <li>Server Installation: Installing and configuring server operating systems, drivers, and essential services (e.g., web server, database server, email server).</li>
                <li>Server Management Tools: Utilizing server management tools and utilities to manage server resources, monitor performance, and troubleshoot issues.</li>
                <li>Server Security: Implementing security measures such as access controls, firewalls, intrusion detection systems (IDS), and antivirus software to protect servers from security threats and vulnerabilities.</li>
            </ul>
            
            <li><b>Virtualization and Cloud Computing</b></li>
            <p>Virtualization and cloud computing technologies enable efficient resource utilization, scalability, and flexibility in deploying and managing server infrastructure:</p>
            <ul>
                <li>Virtualization: Abstracting physical server resources into virtual instances or virtual machines (VMs) to run multiple operating systems and applications on a single physical server.</li>
                <li>Cloud Computing: Providing on-demand access to computing resources (e.g., servers, storage, networking) over the internet, typically offered as Infrastructure as a Service (IaaS), Platform as a Service (PaaS), or Software as a Service (SaaS).</li>
                <li>Benefits of Cloud Computing: Scalability, flexibility, cost-effectiveness, reliability, and disaster recovery.</li>
            </ul>
            
            <li><b>Best Practices and Considerations</b></li>
            <p>Effective server administration requires adherence to best practices and considerations:</p>
            <ul>
                <li>Regular Maintenance: Performing routine maintenance tasks such as software updates, patches, backups, and system monitoring to ensure server health and performance.</li>
                <li>Documentation: Maintaining accurate documentation of server configurations, network topology, security policies, and operational procedures.</li>
                <li>Disaster Recovery Planning: Developing and implementing disaster recovery plans and backup strategies to minimize downtime and data loss in the event of hardware failures, natural disasters, or cyber attacks.</li>
            </ul>
        </ol>
    </div>
   
    

    <!-- Sound -->
<audio id="myAudio" loop muted>
    <!-- Default song -->
    <source id="audioSource" src="{% static 'images/wethands.mp3' %}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  
  <!-- Buttons to toggle and choose songs -->
  <!-- Buttons to toggle and choose songs -->
  <button onclick="toggleAudio()" class="w3-button w3-large w3-teal" title="Toggle Audio">Toggle Audio</button>
  <button onclick="openSongPopup()" class="w3-button w3-large w3-teal" title="Choose Song">Choose Song</button>

  
  <!-- Modal popup for song selection -->
<div id="songModal" class="w3-modal">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-teal">
      <span onclick="closeSongPopup()" class="w3-button w3-teal w3-display-topright">&times;</span>
      <h2>Choose a Song</h2>
    </header>
    <div class="w3-container">
      <div>
        <p>Minecraft</p>
        <ul>
          <li><a href="#" onclick="changeSong('{% static 'images/aria_math.mp3' %}'); return false;">Aria Math</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/wethands.mp3' %}'); return false;">Wet Hands</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/haggstrom.mp3' %}'); return false;">Haggstrom</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/haunt_muskie.mp3' %}'); return false;">Haunt Muskie</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/subwoofer.mp3' %}'); return false;">Subwoofer Lullaby</a></li>
        </ul>
      </div>
      <div>
        <p>Mario</p>
        <ul>
          <li><a href="#" onclick="changeSong('{% static 'images/Bowser_Peaches.mp3' %}'); return false;">Peaches (Mario Movie)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Super_mario_bros_theme_song.mp3' %}'); return false;">Super Mario Bros Theme Song (Super Mario World)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Piranha_Plants_Lullaby.mp3' %}'); return false;">Piranha Plant Lullaby (super mario 64)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Gelato_Beach.mp3' %}'); return false;">Gelato Beach (Super Mario Sunshine)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Gusty_Garden_Galaxy.mp3' %}'); return false;">Gusty Garden Galaxy (Super Mario Galaxy)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Night_Of_Doom_Bowsers_Sky_Palace_Theme.mp3' %}'); return false;">Night of doom boswer's theme (Super Mario 74)</a></li>
        </ul>
      </div>
      <div>
        <p>The Legend Of Zelda</p>
        <ul>
          <li><a href="#" onclick="changeSong('{% static 'images/lost_woods.mp3' %}'); return false;">Lost Woods (The Legend of Zelda: Ocarina Of Time)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Great_fairy.mp3' %}'); return false;">Great Fairy Fountain (The Legend of Zelda: Ocarina Of Time)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/gerudo_valley.mp3' %}'); return false;">Gerudo Valley (The Legend of Zelda: Ocarina Of Time)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/title_theme.mp3' %}'); return false;">Title Theme (The Legend of Zelda: Twilight Princess)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Midnas_Lament.mp3' %}'); return false;">Midna's Tament (The Legend of Zelda: Twilight Princess)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/midnas_theme.mp3' %}'); return false;">Midna's Theme (The Legend of Zelda: Twilight Princess)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/dragon.mp3' %}'); return false;">Dragon Roost Island (The Legend of Zelda: Windwaker)</a></li>
        </ul>
      </div>
      <p>Megaman</p>
        <ul>
          <li><a href="#" onclick="changeSong('{% static 'images/opening.mp3' %}'); return false;">Opening Theme (Megaman 8)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Title_Theme _megaman.mp3' %}'); return false;">Title Theme (Megaman 8)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Stage_Select1.mp3' %}'); return false;">Stage Select (Megaman 8)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Stage_Select_Sega_Genesis_remix.mp3' %}'); return false;">Stage Select Remix (Megaman 8)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Frost_Man.mp3' %}'); return false;">Frost Man Stage Theme (Megaman 8)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/astro_man.mp3' %}'); return false;">Astro Man Stage Theme (Megaman 8)</a></li>
          <li><a href="#" onclick="changeSong('{% static 'images/Wily_Stage1.mp3' %}'); return false;">Wily Stage 1 (Megaman 8)</a></li>
        </ul>
      </div>
      <div>
    </div>
  </div>
</div>

  
  <script>
    // Function to retrieve the selected song from browser storage
    function getSelectedSong() {
      return localStorage.getItem('selectedSong');
    }
  
    // Function to set the selected song to browser storage
    function setSelectedSong(songUrl) {
      localStorage.setItem('selectedSong', songUrl);
    }
  
    // Function to toggle the audio playback
    function toggleAudio() {
      var audio = document.getElementById("myAudio");
      if (audio.paused) {
        audio.play();
        audio.muted = false; // Unmute the audio when it starts playing
      } else {
        audio.pause();
      }
    }
  
    // Function to open the song selection modal
    function openSongPopup() {
      document.getElementById("songModal").style.display = "block";
    }
  
    // Function to close the song selection modal
    function closeSongPopup() {
      document.getElementById("songModal").style.display = "none";
    }
  
    // Function to change the selected song
    function changeSong(songUrl) {
      var audio = document.getElementById("myAudio");
      audio.src = songUrl;
      audio.play();
      audio.muted = false; // Unmute the audio when it starts playing
      setSelectedSong(songUrl); // Save the selected song to browser storage
      closeSongPopup(); // Close the song selection modal
    }
  
    // When the page loads, check if there's a selected song and play it
    window.onload = function() {
      var selectedSong = getSelectedSong();
      if (selectedSong) {
        var audio = document.getElementById("myAudio");
        audio.src = selectedSong;
        audio.play();
        audio.muted = false; // Unmute the audio when it starts playing
      }
    };
  </script>
  
<!-- End page content -->
</div>


</body>
</html>