<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  
<div class="w3-container w3-teal">
<h1>Personal Projects</h1>
</div>

<div class="w3-content">

<div class="w3-row w3-margin">
  {% load static %}
<div class="w3-third">
  <video width="100%" controls>
    <source src="{% static 'images/choose_your_character.mp4' %}" type="video/mp4">
    Your browser does not support this video tag.
  </video>
  <div class="play-button"></div>
</div>
<div class="w3-twothird w3-container">
  <h2>Choose Your Character</h2>
    
  
    <p> 
    <b>Genre:Psytrance/House Mix</b>  
    </p>  
    <p>
    This is a video game themed song that I produced towards the end of 2022. I wanted to make a song that would be fitting for a character selection screen of a classic fighting game we all know and love! The visuals and song are entirely produced in Fl Studio (Along with all my music). 
    </p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
  <video width="100%" controls>
    <source src="{% static 'images\Step_Back.mp4' %}" type="video/mp4">
    Your browser does not support this video tag.
  </video>
  <div class="play-button"></div>
</div>
<div class="w3-twothird w3-container">
  <h2>Step Back</h2>
  <p> 
    <b>Genre:Drum and bass</b>  
    </p>
  <p>
  This melodic drum and bassss track is styled in the jump up sub genre. It has a agressive drum track matched with melodies made from scratch.
  </p>

</div>
</body>
</html>