{% load static %} 

<!DOCTYPE html>
<html>
<head>
<title>The Outpost</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage">

  <style>
    /* Add black outline to images */
    img {
      outline: 5px solid black; /* Adjust the width as needed */
    }
  </style>
  
  

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  
</nav>

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/home/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>

  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="'linux'" class="w3-bar-item w3-button">Linux</a>
    <a href="'videos'" class="w3-bar-item w3-button">Videos</a>
    <a href="'pricing'" class="w3-bar-item w3-button">Links</a>
    <a href="'networks' %}" class="w3-bar-item w3-button">Networks</a> 
    <a href="personal_projects/" class="w3-bar-item w3-button">Personal Projects</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src={% static 'images/Header.webp' %} alt="boat" style="width:100%;min-height:200px;max-height:200px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  

  </div>
</div>




<!-- Sound -->
<audio id="myAudio" loop muted>
  <!-- Default song -->
  <source id="audioSource" src="{% static 'images/wethands.mp3' %}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>


<!-- Buttons to toggle and choose songs -->
<button onclick="toggleAudio()" class="w3-button w3-large w3-teal" title="Toggle Audio">Toggle Audio</button>
<button onclick="openSongPopup()" class="w3-button w3-large w3-teal" title="Choose Song">Choose Song</button>


<!-- Modal popup for song selection -->
<div id="songModal" class="w3-modal">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-teal">
      <span onclick="closeSongPopup()" class="w3-button w3-teal w3-display-topright">&times;</span>
      <h2>Choose a Song</h2>
    </header>
    <div class="w3-container">
      <p>Select a song:</p>
      <ul>
        <li><a href="#" onclick="changeSong('{% static 'images/aria_math.mp3' %}'); return false;">Aria Math</a></li>
        <li><a href="#" onclick="changeSong('{% static 'images/wethands.mp3' %}'); return false;">Wet Hands</a></li>
        <li><a href="#" onclick="changeSong('{% static 'images/haggstrom.mp3' %}'); return false;">Haggstrom</a></li>
        <li><a href="#" onclick="changeSong('{% static 'images/haunt_muskie.mp3' %}'); return false;">Haunt Muskie</a></li>
        <li><a href="#" onclick="changeSong('{% static 'images/subwoofer.mp3' %}'); return false;">Subwoofer Lullaby</a></li>
    
      </ul>
    </div>
  </div>
</div>

<script>
  // Function to retrieve the selected song from browser storage
  function getSelectedSong() {
    return localStorage.getItem('selectedSong');
  }

  // Function to set the selected song to browser storage
  function setSelectedSong(songUrl) {
    localStorage.setItem('selectedSong', songUrl);
  }

  // Function to toggle the audio playback
  function toggleAudio() {
    var audio = document.getElementById("myAudio");
    if (audio.paused) {
      audio.play();
      audio.muted = false; // Unmute the audio when it starts playing
    } else {
      audio.pause();
    }
  }

  // Function to open the song selection modal
  function openSongPopup() {
    document.getElementById("songModal").style.display = "block";
  }

  // Function to close the song selection modal
  function closeSongPopup() {
    document.getElementById("songModal").style.display = "none";
  }

  // Function to change the selected song
  function changeSong(songUrl) {
    var audio = document.getElementById("myAudio");
    audio.src = songUrl;
    audio.play();
    audio.muted = false; // Unmute the audio when it starts playing
    setSelectedSong(songUrl); // Save the selected song to browser storage
    closeSongPopup(); // Close the song selection modal
  }

  // When the page loads, check if there's a selected song and play it
  window.onload = function() {
    var selectedSong = getSelectedSong();
    if (selectedSong) {
      var audio = document.getElementById("myAudio");
      audio.src = selectedSong;
      audio.play();
      audio.muted = false; // Unmute the audio when it starts playing
    }
  };
</script>

<!-- Container -->

<div class="w3-container" style="position:relative">
    <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
    style="position:absolute;top:-28px;right:24px">+</a>
</div>
<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>Table Of Contents</h2>
    <p>Welcome to the Cyber security section of the Outpost!</p>
    <div class="w3-row"><br>
        <div class="w3-quarter">
          <a href="{% url 'part_1' %}">
            <img src={% static "images/cyberpad.webp" %} alt="Boss2" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Part 1</h3>
            <p>Introduction to Computer Systems and Networks:</p>
        </div>
        
        <div class="w3-quarter">
            <a href="{% url 'part_2' %}">
              <img src={% static "images/castle.webp" %} alt="Boss3" style="width:45%" class="w3-circle w3-hover-opacity">
              <h3>Part 2</h3>
              <p>Principles of Information Security:</p>
        </div>
        
        <div class="w3-quarter">
          <a href="{% url 'part_3' %}">
            <img src={% static "images/computer.webp" %} alt="Boss3" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Part 3</h3>
            <p>Operating Systems and Server Administration:</p>
        </div>
        
        <div class="w3-quarter">
          <a href="{% url 'part_4' %}">
            <img src={% static "images/shield.webp" %} alt="Boss4" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Part 4</h3>
            <p>Network Security: </p>
          </div>
          
          
          <!--second row-->
          
          <div class="w3-row"><br>
            <div class="w3-quarter">
              <a href="{% url 'part_5' %}">
                <img src={% static "images/cmdline.webp" %} alt="Boss2" style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>Part 5</h3>
                <p>Cyber Threats and Attack Strategies:</p>
              </div>
              
              <div class="w3-quarter">
                <a href="{% url 'part_6' %}">
                  <img src={% static "images/cmdline2.webp" %} alt="Boss3" style="width:45%" class="w3-circle w3-hover-opacity">
                  <h3>Part 6</h3>
                  <p>Security Policies and Legal Frameworks:</p>
                </div>
                
                <div class="w3-quarter">
                  <a href="{% url 'part_7' %}">
                    <img src={% static "images/castle2.webp" %} alt="Boss3" style="width:45%" class="w3-circle w3-hover-opacity">
                    <h3>Part 7</h3>
                    <p>Cryptography and Access Control:</p>
                  </div>
                  <div class="w3-quarter" style="margin-bottom: 110px;">
                    <a href="{% url 'part_8' %}">
                      <img src="{% static "images/weird.webp" %}" alt="Boss4" style="width:45%" class="w3-circle w3-hover-opacity">
                      <h3>Part 8</h3>
                      <p>Incident Response and Disaster Recovery:</p>
                    </a>
                  </div>
                  
                  
                </div>
    </div>
    
    
    <script>
      // Script for side navigation
      function w3_open() {
        var x = document.getElementById("mySidebar");
        x.style.width = "300px";
        x.style.paddingTop = "10%";
        x.style.display = "block";
      }
      
      // Close side navigation
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
      
      // Used to toggle the menu on smaller screens when clicking on the menu button
      function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
    
    <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
      <h4>Follow Us</h4>
      <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/your-facebook-page" title="Facebook"><i class="fa fa-facebook"></i></a> 
      <a class="w3-button w3-large w3-teal" href="https://twitter.com/your-twitter-page" title="Twitter"><i class="fa fa-twitter"></i></a> 
      <a class="w3-button w3-large w3-teal" href="https://www.instagram.com/your-instagram-page" title="Instagram"><i class="fa fa-instagram"></i></a> 
      <a class="w3-button w3-large w3-teal" href="https://www.linkedin.com/in/your-linkedin-page" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    
      <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge"><i class="fa fa-chevron-circle-up"></i></span></a>
      </div>
    
      <div class="w3-clear"></div>
      <p>&copy; 2024 The Outpost. All rights reserved.</p>
      <p>Contact: Jesselarabie1@gmail.com</p>
    </footer>
    
    
  </body>
</html>